@import 'variables';

.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .bapp-search {
    height: 50px;
    width: 300px;
  }

  .clickable {
    cursor: pointer;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      margin-left: -8px;
      margin-top: 15px;
      height: 20px;
    }
  }

  .nav-item {
    font-size: 14px;
  }

  .btn-bapp-search {
    border-color: $main-color;
    color: $main-color;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  .dropdown-item {
    font-size: 14;
    &:active,
    &:focus {
      background-color: $main-color;
      color: whitesmoke;
    }
  }
}
