<agm-map
  (mapReady)="mapReadyHandler()"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="13">
      <agm-circle *ngIf="!isPositionError"
        [latitude]="lat"
        [longitude]="lng"
        [radius]="800"
        [fillColor]="'#F44336'"
        [fillOpacity]="0.4">
      </agm-circle>

      <agm-info-window *ngIf="isPositionError"
      [latitude]="lat"
      [longitude]="lng"
      [maxWidth]=300
      [isOpen]=true>
        Ups, there is a problem to find this location on the map, we are trying to resolve as fast as posible.
        Contact host for aditional info, if you are still interested in this place.
        We are sorry for the inconviniance.
      </agm-info-window>
</agm-map>